<!-- header -->


<!-- /main navbar -->

<%- include ("../subAdmin/partials/header") %>

	<style>
		.bg-teal-400 {
			background-color: #af5ee0;
			border: #af5ee0;
			color: #fff;
			width: 100%;
			height: 125px;
		}

	</style>



	<!-- Page container -->

	<!-- /header -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<%-include ("../subAdmin/partials/sidebar") %>
				<!-- /main sidebar -->


				<!-- Main content -->
				<div class="content-wrapper">

					<!-- Page header -->
					<div class="page-header page-header-default">
						<div class="page-header-content">
							<div class="page-title">
								<h4><span class="text-semibold">Atara</span> - Sub Admin Dashboard </h4>
							</div>

						</div>


					</div>
					<!-- /page header -->


					<!-- Content area -->



                    <div class="content">
                        <div class="panel panel-flat" style="min-height: 400px;">

					<div class="row">


                        <div class="col-md-4">
                            <a href="/userslisting">
                                <div class="panel bg-teal-400 col-md-4">
    
                                    <div class="panel-body">
    
    
                                        <h3 class="no-margin">
                                            
    
                                        </h3><i class=" icon-users4"></i>
    
                                        <h4>Influencers</h4>
    
                                    </div>
                                </div>
                            </a>
                        </div>

						<!-- <div class="col-md-4">
                            <a href="/#">
                                <div class="panel bg-teal-400 col-md-4">
    
                                    <div class="panel-body">
    
    
                                        <h3 class="no-margin">
                                           
    
                                        </h3><i class=" icon-users"></i>
    
                                        <h4>Professionals</h4>
    
                                    </div>
                                </div>
                            </a>
                        </div>
 -->
                        
					
						
						 
					</div>
					

						
					
						 
					
					<hr>
					</hr>
					
                    
					



                </div>

					<!-- Footer -->
					<%- include("../subAdmin/partials/footer")%>
						<!-- /footer -->


						<!-- /content area -->

				
            </div>
        </div>
				<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

	</body>

	</html>
	


    
    