<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ATARA</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
		type="text/css">
		<link rel="icon" type="image/x-icon" href="assets/images/Ataralogo (1).png">
	<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/js/plugins/forms/inputs/typeahead/handlebars.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/inputs/alpaca/alpaca.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/ui/prism.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/js/pages/alpaca_basic.js"></script>
	<!-- /theme JS files -->

<!-- These links used to jquery validations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- to change color of jquery validations message  -->


<!-- These links used to datatable -->
<link href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<!--moment js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


<style>
	.error {
		color: rgb(134, 13, 13);
		background-color: #FFF;
	}
	
	button.swal2-confirm.btn.btn-danger {
    margin-left: 5px;
}

body {
	background-image: url(images/images1.jpg);
 background-size: cover;
}  
</style>





	<style>
		.navbar.navbar-inverse {
			background-color: rgb(8, 27, 41);
		}

		.sidebar.sidebar-main {
			background-color:rgba(0, 0, 0, 0.898);
		}


	</style>


<style>
	input.control-label.col-lg-3 {
    margin-left: -10px;
}
/*img {
  border-radius: 50%;
}*/
.logo{
	background-color: white;
}
</style>








<style>
	.panel.bg-black-400 {
    margin-left: 35px;
    width: 237px;

 
    color: black;
}

.container {
    width: 700px;
}

</style>



</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		 <a class="navbar-brand" href="/subadminDashboard">
                <strong style="padding-left: 50px;">ATARA</strong>
               <!--  <img src="{{URL::asset('public/assets/images/logo.png')}}" style="width: 50px; height: 45px;
    margin: -19px;" alt=""> -->
</a>
		<div class="navbar-header">
			<a class="navbar-brand" href="#"></a>

			<ul class="nav navbar-nav visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">
				<li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
				</li>

			</ul>



			<div class="navbar-right">
				<ul class="nav navbar-nav">
					
					<li class="dropdown dropdown-user">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<img src="/images/users/<%-session.image%>" style="border-radius:100px;background: whitesmoke;"alt="image">
							<span> <%-session.full_name%></span>
							<i class="caret"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="/subAdminprofile"><i class="icon-user-plus"></i> My Profile</a></li>
							<li><a href="/changepwdsubadmin"><i class="icon-cog5"></i> Change Password</a></li>
							<li><a href="/logoutsubadmin"><i class="icon-switch2"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <!-- <script src=""></script> -->
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

	<!-- /Main navbar -->

	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>


	<% if(msg !='' ) { %>
		<div class="alert alert-success msg"
			style="position: absolute; z-index: 9999; color:white; background-color: #030c01cc; right: 10px; top: 50px;">
			<span style="font-size: 16px;">
				<%= msg %>
			</span>
		</div>
		<% } %>

	